name: Build Kivy APK

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Install system dependencies
      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            python3 \
            python3-venv \
            python3-pip \
            git \
            zip unzip \
            openjdk-17-jdk \
            build-essential \
            ccache \
            libffi-dev \
            libssl-dev \
            libbz2-dev \
            libsqlite3-dev \
            zlib1g-dev \
            wget

      # Set Python alias
      - name: Set Python3 alias
        run: |
          sudo update-alternatives --install /usr/bin/python python /usr/bin/python3 1
          python --version
          pip3 install --upgrade pip

      # Install Buildozer dependencies
      - name: Install Buildozer & Cytho
